
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="static/images/signal-icon.png">
    <title>about</title>
  
</head>
<body>
    <nav class="navbar fixed-top navbar-light navbar-expand-lg" style="min-height: 80px!important;
    background: white!important;
    border: none!important;
    -webkit-box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);">
    <div class="container">
      <img src="static/images/signal-icon.png" style="height:55px; ">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about')}}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
    </nav>

    <div class="center-block"  style=" margin-top: 110px; text-align: center; background: #ffff; padding: 10px; border-radius: 5px;">
        <h3>Working of implemented system</h3>
        <img src="static/images/app-flow.png">
    </div>
</body>
</html>

