 
 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="static/images/signal-icon.png">
    <title>Signal_App</title>
  </head>
  <body>




    <nav class="navbar fixed-top navbar-light navbar-expand-lg" style="min-height: 80px!important;
    background: white!important;
    border: none!important;
    -webkit-box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.4);">
    <div class="container">
      <img src="static/images/signal-icon.png" style="height:55px; ">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about')}}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
    </nav>





    <div class="container" role="main" style="margin-top: 90px">
      <div class="row" style="margin-top: 30px">
        <div class="col-md-12">
           <div class="center-block" style="text-align: center; background: #ffff; padding: 10px; margin-top: 10px; border-radius: 5px;">
              <h3>Classification of Modulation Schemes</h3>
           </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="div_img" ></div>
        </div>

        <div class="col-md-6">

          <div class="row">
            <div class="col-md-12">
              <div class="center-block" style="text-align: center; background: #eee; padding: 10px; margin-top: 10px; border-radius: 5px;">
                <p>Start / stop prediction:</p>
                <button type="submit" id="start" class="btn btn-sm btn-success">Start</button>
                <button type="submit" id="stop" class="btn btn-sm btn-danger">Stop</button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="settings" id="settings" style="text-align: center; background: #eee; padding: 10px; margin-top: 10px; border-radius: 5px;">
                <p>Select model type to use for prediction:</p>
                <input type="radio" name="model_type" value="cnn"> CNN &nbsp; &nbsp;
                <input type="radio" name="model_type" value="lstm" checked> LSTM <br>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div style="text-align: center; background: #eee; padding: 10px; margin-top: 10px; border-radius: 5px;">
              Select number of bands:&nbsp;
              <select name="band_selector" id="band_selector">
                <!-- <option value="-1">Select no of bands</option> -->
                <option value="two" checked>Two</option>
                <option value="three">Three</option>
                <option value="one">One</option>
              </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div style="text-align: center; background: #eee; padding: 10px; margin-top: 10px; border-radius: 5px;">
              Select scheme:&nbsp;
              <select name="channel_selector" id="channel_selector">
                <!-- <option value="-1">Select no of bands</option> -->
                <option value="AWGN" checked>AWGN</option>
                <option value="Rayleigh + AWGN">Rayleigh + AWGN</option>
                <option value="Rayleigh + Doppler + AWGN">Rayleigh + doppler + AWGN</option>
                <option value="Rician + AWGN">Rician + AWGN</option>
                <option value="Rician + Doppler + AWGN">Rician + Doppler + AWGN</option>
              </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div style="text-align: center; background: #eee; padding: 10px; margin-top: 10px; border-radius: 5px;">
              Select SNR:&nbsp;
              <select name="SNR_selector" id="SNR_selector">
                <!-- <option value="-1">Select no of bands</option> -->
                <option value="25" checked>25</option>
                <option value="-10">-10</option>
                <option value="-5">-5</option>
                <option value="0">0</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
              </div>
            </div>
          </div>
            


            
          </div>
        </div>

        <div class="row">
            <div class="col-md-12">
              <div class="container">    
     
                <div class="progress">    
                     
                </div>    
              </div>    
            </div>
          </div>
      </div>
    
      

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

  </body>
</html>
